.section-about {
    background: var(--beige);
    justify-content: flex-start!important;
}

.section-about-hobbies {
    max-width: 900px;
    margin: 30px 20px;
    border-radius: 20px;
    overflow: hidden;
}

.carousel {
    width: 100%;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    text-align: justify;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.7)!important;
    width: 100%!important;
    position: absolute!important;
    left: 0!important;
    bottom: 0!important;
    z-index: 0!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    color: #fff!important;
    text-align: left!important;
}

#carousel-caption {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 15px 0;
    justify-content: space-around;
}

.carousel-img {
    height: 150px;
    padding: 0 20px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 50px var(--shadow));
}

.carousel-title {
    margin: 0;
    text-transform: uppercase;
}

.carousel-description {
    padding-right: 15px;
    font-size: 16px;
}

.hr-carousel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(242, 245, 236, 0.85), rgba(0, 0, 0, 0));
    margin: 10px;
    width: 90%;
    height: 1px;
}