$font-light: rgb(252, 245, 238); 
$font-dark:  #1f707b;

$color-background: rgba(255, 255, 255, 0.9);

$shadow-dark: rgba(0,0,0, 0.5);

$color-primary: rgba(25, 65, 70, 1);
$color-secondary: #1f707b;
$color-warning: #751b1b;
$gradient-primary: linear-gradient(45deg, #052429, #2f707b);
$gradient-secondary: linear-gradient(45deg, #2f707b, #2f707b);

$btn-primary: #5771b5;
$btn-primary-dark: #3d5080;
$btn-secondary:  #65a335;
$btn-secondary-dark:  #467522;

$color-white: rgba(255, 255, 255, 1);